<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="/logInForm" method="post">
        <label for="">Name:</label>
        <input type="text" name="logInName" id="">
        <label for="">Email</label>
        <input type="text" name="logInEmail" id="">
        <input type="submit" value="LOGIN">
    </form>
</body>
</html>