extends template 
block content
    h1 this is my home page
    form(action="/pathA" method="post")
        label(for="")
        input(type="text", name="")  
        input(type="submit", value="submit")
    p #{v1}